@page "/carro"
@inject IRepository<Carro> RepositorioCarros

<h3>Index Carro</h3>

<div class="form-group">
    <a class="btn btn-info" href="carro/cadastro"> Cadastrar Carro</a>
</div>

@if (Carros is not null)
{
    <div style="padding-bottom: 11px;">
        <select class="custom-select col-md-3" @bind="@selectedValue">
            <option value="Todos">Todos</option>
            @if (Marcas.Count > 0)
            {
                foreach (String marca in Marcas)
                {
                    <option value="@marca">@marca</option>
                }
            }
        </select>

        <button class="btn btn-primary" @onclick="(() => Filtra(selectedValue))">Filtrar</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Ano Fabricação</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Carros)
            {
                <tr>
                    <td>@item.Modelo</td>
                    <td>@item.Marca</td>
                    <td>@item.AnoFabricacao</td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(() => DeletarItem(item.Id))">Deletar</button>
                        <a class="btn btn-success" href="/carro/editar/@item.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>Não há carros cadastrados ainda.</p>
}

@code {
    List<Carro> Carros = new List<Carro>();
    List<String> Marcas = new List<String>();
    string selectedValue = "";

    protected async override Task OnInitializedAsync()//Executa ao abri a pagina
    {
        Carros = await RepositorioCarros.Get();
        // convertendo a lista de carros em uma lista de string sem pegar os duplicados
        Marcas = Carros.ConvertAll(c => c.Marca).Distinct().ToList();
    }

    private async Task DeletarItem(int Id)
    {
        await RepositorioCarros.Delete(Id);
        Carros = await RepositorioCarros.Get();

        // atualizando a lista de marcas ao deletar um item
        Marcas = Carros.ConvertAll(c => c.Marca).Distinct().ToList();
    }

    private async Task Filtra(string Marca)
    {
        if (Marca == "Todos")
        {
            Carros = await RepositorioCarros.Get();
        }
        else
        {
            Carros = await RepositorioCarros.Get(Marca);
        }
    }
}
